body, html, #page, #info_pane {
    height: 100%;
    background-color:#FAFAFA;
}

.row {
    margin-right:0;
}

#query {
	height: 10%;
}

#graph {
    height: 90%;
}

/*
 * Search
 */
div#search-box {
    height:100%;
    width:100%;
    position:absolute;
    background-color:#FAFAFA;
    z-index:2;
    padding:200px 0;
}

div#search-box h2 {
    width:100%;
    text-align:center;
}

div#search-box p#search-text {
    width:100%;
    text-align:center;
    color: #555;
    margin-top:1em;
}

div#search-results {
    margin-top:1em;
    text-align:left;
}

div#search-results p {
    margin:0;
    padding:0;
}
div#search-results p.result-author {
    font-style:italic;
}
div#search-results p.result-title {
    font-weight:bold;
}
div.result {
    margin-left:15px;
    cursor:pointer;
    padding:10px;
}
div.result:hover {
    background: #f1f1f1;
}

/*
 * SVG css
 */
.node {
  stroke-width: 2.5px;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
