body, html, #page, #pane {
    height: 100%;
}

.row {
    margin-right:0;
}

#graph {
    height: 100%;
}


/*
 * SVG css
 */
.node {
  stroke-width: 2.5px;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
