<!-- hide the header until the page is displayed -->
{{ ^hide }}    
<div class="row">
  <div class="col-md-offset-3 col-md-6">
      <h2 class="text-center top-space">How it works</h2>
      <p>The recommendation is based on two different similarity measures between articles: the <b>topic similarity</b> and the <b>authors collaborations similarity</b>.</p>
      <p> The final recommendation takes these metrics independently and a uniform linear combination between them, and retrieve the <b>union</b> of the <b>top-10 neigbhors</b>.</p>
  </div>
</div><!-- /row -->

<div class="row">
  <div class="col-md-offset-2 col-sm-3">
    <h3>The topic similarity</h3>
    <p class="text-justify">Based on the content of the abstract, we extract the topics of the articles (i.e. what subject is it talking about). Articles sharing similar proportions of topics are assumed to be similar.</p>
  </div>
  <div class="col-md-offset-2 col-sm-3">
    <h3>The authors collaborations similarity</h3>
    <p class="text-justify">The more authors articles share, the more similar they are.</p>
  </div>
</div> <!-- /row -->

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h3>The details of the similarities for the current neighbors is shown here:</h3>
  </div>
</div><!-- /row -->

<div class="row" id="bar-chart">
  <div class="col-md-offset-2 col-md-8" id="chart1">
    <svg></svg>
  </div>
</div>

{{ /hide }}
