{{ #paper }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript"
   src="http://cdn.MathJax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<p align="center"><small>{{ id }}</small></p>

<div style="height: 80px">
	<h3 align="justify">{{ title }}</h3>
</div>

<p align="justify"><b>{{ authors }}</b></p>

<div class="panel panel-default" >
       	<div class="panel-body" style="height: 400px; overflow: auto">
			<p align="justify" >{{ abstract }}</p>
		</div>
</div>

{{ /paper }}